/* Calendar: a Javascript class for Mootools that adds accessible and unobtrusive date pickers to your form elements <http://electricprism.com/aeron/calendar> */
/* Default CSS for Calendar (navigation: 1), Copyright (c) 2007 Aeron Glemann <http://electricprism.com/aeron> */

.hidden {
	opacity: 0;
	position: absolute;
}
.visible {
	opacity: 1;
}


input.calendar,
select.calendar {
	width: 99px;
}

button.calendar {
	background: url(../images/calendar-icon.gif);
	border: 0;
	cursor: pointer;
 	vertical-align: sub;
	height: 20px;
	margin-left: 6px;
	width: 20px;
}
button.calendar:hover,
button.calendar.active {
	background-position: 0 20px;
}

div.calendar {
	background: url(../images/calendar.png);
	height: 195px;
	padding: 0 6px;
	text-align: center;
	width: 147px;
}	
	div.calendar * {
		margin: 0;
		padding: 0;
	}	
	div.calendar div {
		background: none !important;
		cursor: move;
		height: 185px;
		overflow: hidden;
		padding-top: 10px;
		position: relative;
		width: 147px;
	}	
	
	div.calendar caption {
		color: #333;
		font: normal 12px/16px Arial, Helvetica, sans-serif;
		padding-top: 6px;
		text-align: center;
		width: 100%;
	}
	div.calendar caption a {
		cursor: pointer;
		display: block;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -100px;
		top: 17px;
		width: 11px;
	}
	div.calendar caption a.prev {
		background-image: url(../images/calendar-prev.gif);
		left: 0;
	}
	div.calendar caption a.next {
		background-image: url(../images/calendar-next.gif);
		right: 0;
	}
	div.calendar caption a:hover {
		background-position: 0 12px;
	}
	div.calendar caption span {
		height: 25px;
		position: relative;
		text-align: center;
	}
	div.calendar caption span.month {
		padding-right: 8px;
	}
	div.calendar caption span.month:after {
		content: ',';
	}

	div.calendar table {
		background: #FFF;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		cursor: default;
		margin: 0 auto;
		overflow: hidden;
		width: 147px;
	}
	div.calendar td,
	div.calendar th {
		border: 0;
		color: #0597DB;
		font: normal 12px Arial, Helvetica, sans-serif;
		height: 21px;
		text-align: center;
		width: 21px;
	}
	div.calendar td {
		background: url(../images/calendar-td.gif);
		color: #FFF;
		font-size: 11px;
	}
	div.calendar td.invalid {
		color: #999;
	}
	div.calendar td.valid {
		background: url(../images/calendar-valid.gif);
		color: #0597DB;
		cursor: pointer;
	}
	div.calendar td.hilite {
		background: url(../images/calendar-hilite.gif);
	}
	div.calendar td.inactive {
		background: url(../images/calendar-td.gif) 0 100%;
		color: #FFF;
	}
	div.calendar td.active,
	div.calendar td.hover {
		background: url(../images/calendar-valid.gif) 0 100%;
		color: #FFF;
		cursor: pointer;
	}
	
input.calendar2,
select.calendar2 {
	width: 99px;
}

button.calendar2 {
	background: url(../images/calendar-icon.gif);
	border: 0;
	cursor: pointer;
 	vertical-align: sub;
	height: 20px;
	margin-left: 6px;
	width: 20px;
}
button.calendar2:hover,
button.calendar2.active {
	background-position: 0 20px;
}

div.calendar2 {
	background: url(../images/calendar.png);
	height: 195px;
	padding: 0 6px;
	text-align: center;
	width: 147px;
}	
	div.calendar2 * {
		margin: 0;
		padding: 0;
	}	
	div.calendar2 div {
		background: none !important;
		cursor: move;
		height: 185px;
		overflow: hidden;
		padding-top: 10px;
		position: relative;
		width: 147px;
	}	
	
	div.calendar2 caption {
		color: #333;
		font: normal 12px/16px Arial, Helvetica, sans-serif;
		padding-top: 6px;
		text-align: center;
		width: 100%;
	}
	div.calendar2 caption a {
		cursor: pointer;
		display: block;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -100px;
		top: 17px;
		width: 11px;
	}
	div.calendar2 caption a.prev {
		background-image: url(../images/calendar-prev.gif);
		left: 0;
	}
	div.calendar2 caption a.next {
		background-image: url(../images/calendar-next.gif);
		right: 0;
	}
	div.calendar2 caption a:hover {
		background-position: 0 12px;
	}
	div.calendar2 caption span {
		height: 25px;
		position: relative;
		text-align: center;
	}
	div.calendar2 caption span.month {
		padding-right: 8px;
	}
	div.calendar2 caption span.month:after {
		content: ',';
	}

	div.calendar2 table {
		background: #FFF;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		cursor: default;
		margin: 0 auto;
		overflow: hidden;
		width: 147px;
	}
	div.calendar2 td,
	div.calendar2 th {
		border: 0;
		color: #0597DB;
		font: normal 12px Arial, Helvetica, sans-serif;
		height: 21px;
		text-align: center;
		width: 21px;
	}
	div.calendar2 td {
		background: url(../images/calendar-td.gif);
		color: #FFF;
		font-size: 11px;
	}
	div.calendar2 td.invalid {
		color: #999;
	}
	div.calendar2 td.valid {
		background: url(../images/calendar-valid.gif);
		color: #0597DB;
		cursor: pointer;
	}
	div.calendar2 td.hilite {
		background: url(../images/calendar-hilite.gif);
	}
	div.calendar2 td.inactive {
		background: url(../images/calendar-td.gif) 0 100%;
		color: #FFF;
	}
	div.calendar2 td.active,
	div.calendar2 td.hover {
		background: url(../images/calendar-valid.gif) 0 100%;
		color: #FFF;
		cursor: pointer;
	}

	input.calendar3,
select.calendar3 {
	width: 99px;
}

button.calendar3 {
	background: url(../images/calendar-icon.gif);
	border: 0;
	cursor: pointer;
 	vertical-align: sub;
	height: 20px;
	margin-left: 6px;
	width: 20px;
}
button.calendar3:hover,
button.calendar3.active {
	background-position: 0 20px;
}

div.calendar3 {
	background: url(../images/calendar.png);
	height: 195px;
	padding: 0 6px;
	text-align: center;
	width: 147px;
}	
	div.calendar3 * {
		margin: 0;
		padding: 0;
	}	
	div.calendar3 div {
		background: none !important;
		cursor: move;
		height: 185px;
		overflow: hidden;
		padding-top: 10px;
		position: relative;
		width: 147px;
	}	
	
	div.calendar3 caption {
		color: #333;
		font: normal 12px/16px Arial, Helvetica, sans-serif;
		padding-top: 6px;
		text-align: center;
		width: 100%;
	}
	div.calendar3 caption a {
		cursor: pointer;
		display: block;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -100px;
		top: 17px;
		width: 11px;
	}
	div.calendar3 caption a.prev {
		background-image: url(../images/calendar-prev.gif);
		left: 0;
	}
	div.calendar3 caption a.next {
		background-image: url(../images/calendar-next.gif);
		right: 0;
	}
	div.calendar3 caption a:hover {
		background-position: 0 12px;
	}
	div.calendar3 caption span {
		height: 25px;
		position: relative;
		text-align: center;
	}
	div.calendar3 caption span.month {
		padding-right: 8px;
	}
	div.calendar3 caption span.month:after {
		content: ',';
	}

	div.calendar3 table {
		background: #FFF;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		cursor: default;
		margin: 0 auto;
		overflow: hidden;
		width: 147px;
	}
	div.calendar3 td,
	div.calendar3 th {
		border: 0;
		color: #0597DB;
		font: normal 12px Arial, Helvetica, sans-serif;
		height: 21px;
		text-align: center;
		width: 21px;
	}
	div.calendar3 td {
		background: url(../images/calendar-td.gif);
		color: #FFF;
		font-size: 11px;
	}
	div.calendar3 td.invalid {
		color: #999;
	}
	div.calendar3 td.valid {
		background: url(../images/calendar-valid.gif);
		color: #0597DB;
		cursor: pointer;
	}
	div.calendar3 td.hilite {
		background: url(../images/calendar-hilite.gif);
	}
	div.calendar3 td.inactive {
		background: url(../images/calendar-td.gif) 0 100%;
		color: #FFF;
	}
	div.calendar3 td.active,
	div.calendar3 td.hover {
		background: url(../images/calendar-valid.gif) 0 100%;
		color: #FFF;
		cursor: pointer;
	}

	input.calendar4,
select.calendar4 {
	width: 99px;
}

button.calendar4 {
	background: url(../images/calendar-icon.gif);
	border: 0;
	cursor: pointer;
 	vertical-align: sub;
	height: 20px;
	margin-left: 6px;
	width: 20px;
}
button.calendar4:hover,
button.calendar4.active {
	background-position: 0 20px;
}

div.calendar4 {
	background: url(../images/calendar.png);
	height: 195px;
	padding: 0 6px;
	text-align: center;
	width: 147px;
}	
	div.calendar4 * {
		margin: 0;
		padding: 0;
	}	
	div.calendar4 div {
		background: none !important;
		cursor: move;
		height: 185px;
		overflow: hidden;
		padding-top: 10px;
		position: relative;
		width: 147px;
	}	
	
	div.calendar4 caption {
		color: #333;
		font: normal 12px/16px Arial, Helvetica, sans-serif;
		padding-top: 6px;
		text-align: center;
		width: 100%;
	}
	div.calendar4 caption a {
		cursor: pointer;
		display: block;
		height: 12px;
		overflow: hidden;
		position: absolute;
		text-indent: -100px;
		top: 17px;
		width: 11px;
	}
	div.calendar4 caption a.prev {
		background-image: url(../images/calendar-prev.gif);
		left: 0;
	}
	div.calendar4 caption a.next {
		background-image: url(../images/calendar-next.gif);
		right: 0;
	}
	div.calendar4 caption a:hover {
		background-position: 0 12px;
	}
	div.calendar4 caption span {
		height: 25px;
		position: relative;
		text-align: center;
	}
	div.calendar4 caption span.month {
		padding-right: 8px;
	}
	div.calendar4 caption span.month:after {
		content: ',';
	}

	div.calendar4 table {
		background: #FFF;
		border: 0;
		border-collapse: collapse;
		border-spacing: 0;
		cursor: default;
		margin: 0 auto;
		overflow: hidden;
		width: 147px;
	}
	div.calendar4 td,
	div.calendar4 th {
		border: 0;
		color: #0597DB;
		font: normal 12px Arial, Helvetica, sans-serif;
		height: 21px;
		text-align: center;
		width: 21px;
	}
	div.calendar4 td {
		background: url(../images/calendar-td.gif);
		color: #FFF;
		font-size: 11px;
	}
	div.calendar4 td.invalid {
		color: #999;
	}
	div.calendar4 td.valid {
		background: url(../images/calendar-valid.gif);
		color: #0597DB;
		cursor: pointer;
	}
	div.calendar4 td.hilite {
		background: url(../images/calendar-hilite.gif);
	}
	div.calendar4 td.inactive {
		background: url(../images/calendar-td.gif) 0 100%;
		color: #FFF;
	}
	div.calendar4 td.active,
	div.calendar4 td.hover {
		background: url(../images/calendar-valid.gif) 0 100%;
		color: #FFF;
		cursor: pointer;
	}