body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	overflow:scroll;
	font-family: sans-serif;
}
td
{
	padding: 3px;
	border: 1px solid#ccc;
}
tr
{
	border: 1px solid#ccc;
}
table
{
	font-size: 12px;
	font-family: sans-serif;
	border: 1px solid#ccc;
}
.page
{
	text-align: center;	
}
.login
{	
	overflow: hidden;
  	position: absolute;
  	height: 451px;
  	width: 484px;
  	left: 50%;
  	top: 55%;
  	margin-top: -190px;
  	margin-left: -210px;
	 
}
.ingreso
{
	margin-top: -165px;
	margin-left: 49px;	
}
.pass
{
	margin-top: 13px;
	margin-left: 2px;	
}
.errorMessage
{
	font-size:12px;
	color:red;
	font-family:"Arial";
	margin-top: 5px;
	padding-top: 5px
}

.errorMessageerror
{
	background-color: #db1717  !important;
	border-color: #a71a1a !important;
	color: #AC0F0F;
	font-size:12px;
	font-family:"Arial";
	border: 1px solid #e1ca82;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
	margin-top: -5px;
	text-decoration: none;
	background: #ffeaa6;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .5)), color-stop(100%,rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	padding: 8px;
} 

.errorMessageok
{
	background-color: #8ff57a  !important;
	border-color: #80cf70  !important;
	color: #1a6a00;
	font-size:12px;
	font-family:"Arial";
	border: 1px solid #e1ca82;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
	margin-top: -5px;
	text-decoration: none;
	background: #ffeaa6;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .5)), color-stop(100%,rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	padding: 8px;
} 

.boton
{
	font-size:12px;
	color:white;
	border:0px;
	background-color: #2685C5;
	margin-top: 10px;
	padding:6px;
	border-radius:7px;
}
.barracentro {
    position:fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5ex;
    float: left;
    z-index: 999;
    width:100%;
    height:auto;
    top: 0px;
        left:0px;
    text-align: center;
        vertical-align: middle;
        padding:3px;
    /*opacity:0.90;*/
}

.naranja{
    border:1px solid #b95f08;
    background-color:#DF6E00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF6E00', endColorstr='#b95f08');
    background: -webkit-gradient(linear, left top, left bottom, from(#DF6E00), to(#b95f08));
    background: -moz-linear-gradient(top, #DF6E00, #b95f08);
    color: #fff;
    padding: 8px;
    font-size:10px;	

}

.verdeamarela{
    /*border:1px solid #F4CCB0;*/
    background-image: url('../images/barrasuperior2.jpg');
    /*background-color:#F4CCB0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4CCB0', endColorstr='#CC946F');
    background: -webkit-gradient(linear, left top, left bottom, from(#F4CCB0), to(#CC946F));
    background: -moz-linear-gradient(top, #F4CCB0, #CC946F);
    */
    color: #fff;
    padding: 8px;
    font-size:10px;	

}
.azul{
    border:1px solid #02306a;
    background-color:#23528c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23528c', endColorstr='#02306a');
    background: -webkit-gradient(linear, left top, left bottom, from(#23528c), to(#02306a));
    background: -moz-linear-gradient(top, #23528c, #02306a);
    color: #fff;
    padding: 8px;
    font-size:10px;	
}
.verde{
    border:1px solid #165e1d;
    background-color:#2b8433;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b8433', endColorstr='#165e1d');
    background: -webkit-gradient(linear, left top, left bottom, from(#2b8433), to(#165e1d));
    background: -moz-linear-gradient(top, #2b8433, #165e1d);
    color: #fff;
}
.menulateral
{
	margin-top: 0px;
	margin-left: 0px;
	width: 230px;
}




.left_menu a {
  display: block;
  color: black;
  ;
  
 
 
}

.left_menu a.sub:hover{
  background-color: red;}
.contenido
{
	  margin-top: -1px;
 	  margin-left: 230px;
	  border: 1px solid #388FCB;
	  height: 84.4%;
	  padding: 10px;
	  width: auto;
}
.footer
{
	text-align: center;
}
.activofijo
{
	margin-top: -25px;
	width: 100%;
	/*height: 100%;*/	
}




.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
    background-color: #F5F5F5;
	border: #DEDEDE 1px solid;
	padding: 5px 8px 3px 5px;
	font-weight: bold;

}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
    background-color: #F5F5F5;
	border: #DEDEDE 1px solid;
	padding: 5px 8px 3px 5px;
	font-weight: bold;

}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
.menuinicio
{
	background: url('../images/img_inicio.png');	
}
.texto
{
	margin-left: 33px;
	margin-top: -17px;
	height: 16px;
}
.diviconos
{
	height: 25px;
	width: 25px;
}
.submenu
{
	z-index:999;
	padding-top: 14px !important;
	padding-bottom: 10px !important;
}
.space
{
	clear:both;
	height: 10px;
}
.titulo_texto_border_iz
{
	/*margin-left: -334px;*/
	width: 619px;
	color: #00509F;
	font-weight: bold;
	text-align: left;
	height: 18px;
	font-family: Arial;
	line-height: 23px;
		
}
.titulo_texto_border_de
{
	/*margin-left: -334px;*/
	width: 619px;
	color: #00509F;
	font-weight: bold;
	text-align: left;
	height: 18px;
	font-family: Arial;
	line-height: 21px;
		
}
.border_titulos_iz
{
	height: 22px;
	margin-top: -31px;
	
}
.border_titulos_de
{
	height: 22px;
	margin-top: -21px;
}

.actualizado
{
	background-color: #fff;
	border-left: 4px solid #7ad03a;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 5px;
}

.eliminado
{
	background-color: #fff;
	border-left: 4px solid #7ad03a;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 5px;
}


.error
{
	background-color: #fff;
	border-left: 4px solid #dd3d36;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	padding: 5px;
}

.botones_accion
{
	border: 1px solid #369A9A;
	border-radius: 10px;
	padding: 3px 3px 0px 3px;
	width: 198px;
}

.busqueda
{
	border: 1px solid #369A9A;
	border-radius: 10px;
	padding: 3px 3px 3px 10px;
	width: 198px;
	
}

.buscador
{
    padding-right:20px;
	background: url(../images/search.png) no-repeat 154px 4px;
}

.imagenes_class
{
	padding: 2px 4px 3px 4px;
}

.imagenes_class:hover
{
	background-color: #5797E6;
	border-radius: 7px;
}

input
{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 2px;
}
input:hover
{
	border: 1px solid #5797E6 !important;
}



.pop-up {position:absolute; top:0; left:-500em}
.pop-up:target {position:static; left:0;}
  
  
 
.popBox {
  background:#ffffff;

  /* alternatively fixed width / height and negative margins from 50% */
  position:absolute; left:25%; right:25%; top:20%; bottom:20%;

  z-index:1;
  /* padding:1%; removed 17/07/2012 */
  border:1px solid #3a3a3a;

  /* CSS3 rounded corners, drop-shadow and opacity fade in */
  -moz-border-radius:12px;
  border-radius:12px;
  -webkit-box-shadow:2px 2px 4px #3a3a3a;
  -moz-box-shadow:2px 2px 4px #3a3a3a;
  box-shadow:2px 2px 4px #3a3a3a;
  opacity:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
:target .popBox {position:fixed; opacity:1;}

.popBox:hover {box-shadow:3px 3px 6px #5a5a5a;}

.lightbox {display:none; text-indent:-200em; background:#000; opacity:0.4; width:100%; height:100%; position:fixed; top:0; left:0; bottom:0; right:0;}
:target .lightbox {display:block}
  .close {
  position:absolute; top:-0.75em; right:-0.75em; display:block; width:1em; height:1em;
  font:bold large/1 arial, sans-serif; text-align:center; text-decoration:none;
  /*background:#000;*/ border:1px solid #fff; color:#fff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0 0 1px 1px #3a3a3a;
  -webkit-box-shadow: 0 0 1px 1px #3a3a3a;
  box-shadow: 0 0 1px 1px #3a3a3a;
}
.close:before {content:""}
.close:hover {box-shadow:0 0 1px 1px #c00; background:#c00;}
.close span {text-indent:-200em; display:block;}
  /* .popScroll {max-height:99%; overflow-y:scroll;} removed 17/07/2012 */
.popScroll {position:absolute; top:9%; left:3%; right:3%; bottom:9%; overflow-y:auto; *overflow-y:scroll; padding-right:0.5em}
  
.container {
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	text-align: left;
}
.header {
	padding: 10px;
}
.main_title {
	background: #cccccc;
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	line-height: 20px;
}
.content {
	padding: 10px;
	min-height: 100px;
}
.footer {
	padding: 10px;
	text-align: right;
}
.footer a {
	color: #999999;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.label_div {
	width: 120px;
	float: left;
	line-height: 28px;
}
.input_container {
	height: 30px;
	float: left;
}
.input_container input {
	height: 20px;
	width: 200px;
	padding: 3px;
	border: 1px solid #cccccc;
	border-radius: 0;
}
.input_container ul {
	width: 227px;
  border: 1px solid #eaeaea;
  position: absolute;
  z-index: 9;
  background: #f3f3f3;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 43px;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #eaeaea;
}
#country_list_id {
	display: none;
}

/* El cuadro donde se encontrara nuestra caja de autocompletar*/
.autocomplete-jquery-aBox{
    margin: 0px;
    position: relative;
}
/* la etiqueta de autocompletar*/
.autocomplete-jquery-aBox label{
    margin-right: 20px;
    margin-top: 30px;
    display: block;
}
/* El input, tiene un tamaño de 250 , pero se podria cambiar y deberia 
*  el script darse cuenta de esto cambiando tambien el tamaño del box de
*  sugerencias. 
*/
.autocomplete-jquery-aBox input{
    height: 20px;
    width: 250px;
}

/*
 * Resultados
 */
.autocomplete-jquery-results{
    border:1px solid silver;
    float:right;
    margin-top:2px;
   # margin-top:30px; /*fix for IE7*/
    position:absolute;
    display: none;
    z-index: 999;
}

/* Si ubica el mouse sobre el imput toma este estilo*/
.autocomplete-jquery-aBox input:focus{
    border: 1px solid #41B5EA;
    box-shadow:0px 0px 3px #41B5EA;
    height: 20px;
    width: 250px;
}

/*Esta clase se activa cuando el usuario se mueve por las sugerencias*/
.autocomplete-jquery-mark{
    color:black;
    background-color: #E0F0FF !important;
}

/* Cada sugerencia va a llevar esta clase, por lo tanto tomara el estilo siguiente */
.autocomplete-jquery-item{
    border-bottom: 1px solid lightgray;
    display: block;
    height: 16px;
    padding-top: 5px;
    text-decoration: none;     
    padding-left: 3px;  
    background-color: white;
}
.autocomplete-jquery-results{
     box-shadow: 1px 1px 3px black;
}
/* Al pasar por ensima de las sugerencias*/
.autocomplete-jquery-item:hover{
    background-color: #E0F0FF;
    color:black;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
 
/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}
 
/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
 
/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}


.flotante
{

	background: linear-gradient(#FFE8A4,#F2C987);

	position: fixed;
	height: 10px;
	width: 100%;
	padding: 5px;
}
.contenedor
{
	margin-top: 20px;
	float: left;
}
.tituloprincipal
{
	font-size: 1em;
	font-weight: bold;
}
ul, ol {
	list-style:none;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
}
.nav > li {
	float:left;
}

.nav li a {
	color: #000;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	display: block;
	background: linear-gradient(#f6f8f9,#d7dee3);
	

}

.nav li a:hover {
	background: linear-gradient(#FFE8A4,#F2C987);

}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	padding: 0px;
}

.nav li:hover > ul {
	display:block;
	margin-left: -120px;
	border: 1px solid#ccc;
	margin-top: -1px;
}

.nav li ul li {
	position:relative;
	
}

.nav li ul li ul {
	right:140px;
	top:0px;
}
.aprincipal
{
	background: transparent;
	padding: 0px;
	padding-top: 0px !important;
	padding-bottom: 10px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 6px !important;
	margin-bottom: -5px;
}



@import url(http://fonts.googleapis.com/css?family=Roboto:700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#cssmenu {
  font-family: Roboto, sans-serif;
}
#cssmenu > ul {
  width: 230px;
  background: #ffffff;
}
#cssmenu > ul > li > a {
	border-bottom: 1px solid #ccc;
  padding: 7px 10px;
  font-size: 11px;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
  background: linear-gradient(#f6f8f9,#d7dee3);
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #222222;
}
#cssmenu ul li.has-sub > a::after {
  position: absolute;
  right: 15px;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 2px;
}
#cssmenu > ul > li.has-sub > a::after {
  top: 8px;
  background: #666666;
}
#cssmenu > ul > li.has-sub:hover > a::after,
#cssmenu > ul > li.has-sub > a:hover::after {
  background: #222222;
}
#cssmenu ul ul li.has-sub > a::after {
  top: 8px;
  background: #ffffff;
}
#cssmenu ul ul li.has-sub:hover > a::after,
#cssmenu ul ul li.has-sub > a:hover::after {
  background: #dddddd;
}
#cssmenu ul li.has-sub > a::before {
  position: absolute;
  right: 15px;
  z-index: 2;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  content: "";
}
#cssmenu > ul > li.has-sub > a::before {
  top: 10px;
  border-left-color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::before {
  top: 10px;
  border-left-color: #2e353b;
}
#cssmenu ul {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu ul ul {
  position: absolute;
  top: 0;
  left: -9999px;
  width: 180px;
  background: #2e353b;
  opacity: 0;
  -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
  -o-transition: opacity 0.2s ease, -o-transform 0.2s ease;
  transition: opacity .2s ease, transform .2s ease;
  -webkit-transform: rotate3d(0, 1, 0, 45deg);
  -moz-transform: rotate3d(0, 1, 0, 45deg);
  transform: rotate3d(0, 1, 0, 45deg);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cssmenu ul li:hover > ul {
  left: 100%;
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0);
}
#cssmenu ul ul::after {
  position: absolute;
  left: -8px;
  top: 14px;
  z-index: 5;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-right-color: #2e353b;
  content: "";
}
#cssmenu ul ul a {
  padding: 7px 10px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  -ms-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: lightsalmon;
}

.titulo
{
	 color: #388FCB; 
	 font-weight: bold; 
	 font-size: 12px;
}

li.menuprincipal
{
	display: inline-table; 
	padding-top: 10px;  
	padding-bottom: 8px;  
	padding-left: 20px;  
	padding-right: 20px; 
	color: #388FCB; 
	font-weight: bold; 
	font-size: 11px; 
	cursor: hand;

}
li.menuprincipal:hover
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009c5f+0,009b89+4,ffffff+8,ffffff+90,009b89+97,009c5f+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#388fcb+1,388fcb+7,bfe2e8+8,bfe2e8+8,ffffff+14,ffffff+87,ffffff+87,bfe2e8+90,388fcb+94 */
background: #388fcb; /* Old browsers */
background: -moz-linear-gradient(top,  #388fcb 1%, #388fcb 7%, #bfe2e8 8%, #bfe2e8 8%, #ffffff 14%, #ffffff 87%, #ffffff 87%, #bfe2e8 90%, #388fcb 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #388fcb 1%,#388fcb 7%,#bfe2e8 8%,#bfe2e8 8%,#ffffff 14%,#ffffff 87%,#ffffff 87%,#bfe2e8 90%,#388fcb 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #388fcb 1%,#388fcb 7%,#bfe2e8 8%,#bfe2e8 8%,#ffffff 14%,#ffffff 87%,#ffffff 87%,#bfe2e8 90%,#388fcb 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#388fcb', endColorstr='#388fcb',GradientType=0 ); /* IE6-9 */
}

.modalmask {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalmask:target {
	opacity:1;
	pointer-events: auto;
}
.modalbox{
	width: 54.3%;
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	height: 92%;
}

.modalbox2{
	width: 40%;
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	height: 65%;
}

.modalmask2 {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalmask2:target {
	opacity:1;
	pointer-events: auto;
}

.modalmask2:target .movedown{		
	margin:7% auto;
}

.modalmask2:target .rotate{		
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask2:target .resize{
	width:400px;
	height:200px;
}


.movedown {
	margin: 0 auto;
}
.rotate {
	margin: 10% auto;
	-webkit-transform: scale(-5,-5); 
	transform: scale(-5,-5);
}
.resize {
	margin: 10% auto;
	width:0;
	height:0;

}
.modalmask:target .movedown{		
	margin:1.4% auto;
}
.modalmask:target .rotate{		
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{
	width:400px;
	height:200px;
}



.close {
    color: #FFFFFF;
    line-height: 12px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 13px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 10px;
    height: 11px;
}

.close:hover { 
	background: #FAAC58; 
	color:#222;
}
.nsc{
	position:absolute;
	bottom:40%;
	right:0;
}

.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #1461C6;
     color: white;
     padding: 2px;
     padding-right: 0px;
}
.modalbox3{
	width: 25%;
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #fff;
	border-radius:3px;
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	height: 26%;
}

.modalmask3 {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalmask3:target {
	opacity:1;
	pointer-events: auto;
}

.modalmask3:target .movedown{		
	margin:15% auto;
}

.modalmask3:target .rotate{		
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask3:target .resize{
	width:400px;
	height:200px;
}

	.messager-body, .panel-body, .panel-body-noheader, .panel-body-noborder, .window-body
	{

    padding: 7px !important;
    /*
    width: 150px !important;
    height: 15px !important;
        text-align: center;*/
	}
	.messager-body, .panel-body, .panel-body-noborder, .window-body
	{
		width: auto !important;
		height: auto ;  
		
	}
	.easyui-accordion, .accordion, .easyui-fluid
	{
		padding: 0px !important;
	}
	.accordion-header
	{
		color: #388FCB !important;
	}
	.panel, .datagrid, .easyui-fluid, .panel-header
	{
		color: white;
	}
	.panel, .window, .easyui-fluid, .panel-with-icon
	{
		color: white;
	}
	.buttongrid
	{
		width: 20px;
		margin-right: 3px;
		background-size: 14px;
		background-repeat: no-repeat;
		background-position-x: 3px;
		background-position-y: 1px;
		background-color: transparent;
		height: 18px;
	}
	.buttongrid:hover
	{
		background-color: white;
	}