*{
	padding: 0;
	margin: 0;
}
body{
	font: normal 12px Tahoma, Verdana, Arial, sans-serif;
	background: #333;
	color: #fff;
}
a{
	color: #fff;
}
	a:hover{
		text-decoration: none;
	}
ul{
	padding: 20px 0;
	list-style-type: none;
}
#divContainer{
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	top: 50px;
	text-align: center;
	padding: 20px 0;
	background: #222;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
}
#divBottomBar{
	position: fixed;
	padding: 10px 0;
	background: #000;
	bottom: 0;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px #000;
	display: none;
	cursor: pointer;
}
input[type="button"]{
	padding: 18px;
	border: solid 1px #ccc;
	margin: 2px;
	cursor: pointer;
	border-radius: 3px;
	width: 200px;
	box-shadow: 1px 1px 1px #777;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}
	input[type="button"]:hover{
		box-shadow: 2px 2px 1px #777;
	}
	.clsErrorButton{
		background: #fff url(../js/jsNotifications/img/error.png) no-repeat left center;
	}
	.clsWarningButton{
		background: #fff url(../js/jsNotifications/img/warning.png) no-repeat left center;
	}
	.clsInfoButton{
		background: #fff url(../js/jsNotifications/img/info.png) no-repeat left center;
	}
	.clsOKButton{
		background: #fff url(../js/jsNotifications/img/ok.png) no-repeat left center;
	}